<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="header__logo">
          Ionex-Term<span class="header__dot">.</span>
      </a>

      <nav class="header__nav">
          <ul class="header__menu">
              <li class="header__item"><a href="./#about" class="header__link">О платформе</a></li>
              <li class="header__item"><a href="./#advantages" class="header__link">Преимущества</a></li>
              <li class="header__item"><a href="./#innovation" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="./#education" class="header__link">Обучение</a></li>
              <li class="header__item"><a href="./#faq" class="header__link">FAQ</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="header__btn btn btn--primary">
              Начать сейчас
          </a>
          <button class="header__burger" aria-label="Открыть меню">
              <span></span>
              <span></span>
          </button>
      </div>
  </div>
</header>